<%= simple_form_for(message) do |m| %>
  <%= m.input :name, label: false, placeholder: "NAME" %>
  <%= m.input :email, label: false, placeholder: "EMAIL" %>
  <%= m.input :message, input_html: {rows: 5}, label: false, placeholder: "MESSAGE" %>
  <%= m.input :photo, input_html: {hidden: true}, label: false %>
  <%= m.input :photo_cache, as: :hidden %>
  <div class="col-xs-6">
    <%= m.submit "SUBMIT", class: "btn btn-default form-control" %>
  </div>
  <div class="col-xs-6">
    <%= link_to "CANCEL", root_path, class: "btn btn-default form-control" %>
  </div>
<% end %>
