<div class="wrapper">
  <div class="message-content">
    <%= cl_image_tag @message.photo, height: 400, width: 600, crop: :fill, class: "message-photo" %>
    <h3>DEAR SHIRLEY AND ALAN</h3>
    <p><%= @message.message %></p>
    <p><a href="mailto:<%= @message.email %>"><%= @message.name %></a></p>
    <div class="message-links">
      <%= link_to root_path do %>
        <i class="fa fa-home" aria-hidden="true"></i>
      <% end %>
      <%= link_to message_path(@message), method: :delete, data: { confirm: "Are you sure you want to delete this message?" } do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
