<div class="wrapper">
  <div class="page">
    <!-- Desktop: Cover -->
    <div class="cover hidden-xs" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path @message.photo; %>)">
    </div>
    <div class="show-content bottom hidden-xs">
      <div class="message-content">
        <h3>DEAR SHIRLEY & ALAN</h3>
        <p><%= @message.message %></p>
        <h4><a href="mailto:<%= @message.email %>"><%= @message.name.upcase %></a></h4>
        <%= link_to root_path do %>
          <i class="fa fa-home" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
    <!-- Mobile: Cover -->
    <div class="cover hidden-sm hidden-md hidden-lg" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path @message.photo; %>)">
    </div>
    <div class="mobile show-content bottom hidden-sm hidden-md hidden-lg">
      <div class="message-content">
        <h3>DEAR SHIRLEY & ALAN</h3>
        <p><%= @message.message %></p>
        <h4><a href="mailto:<%= @message.email %>"><%= @message.name.upcase %></a></h4>
        <%= link_to root_path do %>
          <i class="fa fa-home" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <!--   <div class="message-content">
    <% photo_url = @message.photo? ? @message.photo : "appicbtz2anicytb79lj" %>
    <%= cl_image_tag photo_url, height: 400, width: 600, crop: :fill, class: "message-photo" %>
    <h3>DEAR SHIRLEY AND ALAN</h3>
    <p><%= @message.message %></p>
    <h4><a href="mailto:<%= @message.email %>"><%= @message.name.upcase %></a></h4>
    <div class="message-links">
      <%= link_to root_path do %>
        <i class="fa fa-home" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div> -->

  <div class="hidden-links hidden">
    <ul class="list-inline">
      <%= link_to message_path(@message), method: :delete, data: { confirm: "Are you sure you want to delete this message?" } do %>
        <li><i class="fa fa-trash" aria-hidden="true" id="delete"></i></li>
      <% end %>
      <%= link_to messages_path do %>
        <li><i class="fa fa-envelope-o" aria-hidden="true" id="all"></i></li>
      <% end %>
      <% if @message.previous.presence %>
        <%= link_to @message.previous do %>
          <li><i class="fa fa-arrow-circle-o-left" aria-hidden="true" id="previous"></i></li>
        <% end %>
      <% end %>
      <% if @message.next.presence %>
        <%= link_to @message.next do %>
          <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true" id="next"></i></li>
        <% end %>
      <% end %>
    </ul>
  </div>

<%= content_for(:title, "Message from " + @message.name) %>

<%= content_for(:after_js) do %>
  <script>
    document.addEventListener("keyup",function(e){
      var key = e.which || e.keyCode;
      switch(key){
        case 37: // left arrow
          document.getElementById("previous").click();
        break;
        case 39: // right arrow
          document.getElementById("next").click();
        break;
        case 77: // "M"
          document.getElementById("all").click();
        break;
        case 68: // "D"
          document.getElementById("delete").click();
        break;
      }
    });
  </script>
<% end %>
