<div class="wrapper">
  <div class="hidden-links hidden">
    <ul class="list-inline">
      <%= link_to message_path(@message), method: :delete, data: { confirm: "Are you sure you want to delete this message?" } do %>
          <li><i class="fa fa-trash" aria-hidden="true"></i></li>
      <% end %>
      <% if @message.previous.presence %>
        <%= link_to @message.previous do %>
          <li><i class="fa fa-arrow-circle-o-left" aria-hidden="true" id="previous"></i></li>
        <% end %>
      <% end %>
      <% if @message.next.presence %>
        <%= link_to @message.next do %>
          <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true" id="next"></i></li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="message-content">
    <% photo_url = @message.photo? ? @message.photo : "appicbtz2anicytb79lj" %>
    <%= cl_image_tag photo_url, height: 400, width: 600, crop: :fill, class: "message-photo" %>
    <h3>DEAR SHIRLEY AND ALAN</h3>
    <p><%= @message.message %></p>
    <h4><a href="mailto:<%= @message.email %>"><%= @message.name %></a></h4>

    <%= link_to "All Messages", messages_path %>

    <div class="message-links">
      <ul class="list-inline">

        <%= link_to root_path do %>
          <li><i class="fa fa-home" aria-hidden="true"></i></li>
        <% end %>

      </ul>
    </div>
  </div>
</div>

<%= content_for(:title, "Message from " + @message.name) %>

<%= content_for(:after_js) do %>
  <script>
    document.addEventListener("keyup",function(e){
   var key = e.which || e.keyCode;
   switch(key){
      //left arrow
      case 37:
         document.getElementById("previous").click();
      break;
      //right arrow
      case 39:
         document.getElementById("next").click();
      break;
   }
});
  </script>
<% end %>
