<!-- Cover -->
<div class="page">
  <!-- Desktop: Cover -->
  <div class="cover hidden-xs" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'light-1.jpg' %>)">
  </div>
  <div class="content bottom hidden-xs">
    <div class="text">
      <h1>SHIRLEY & ALAN</h1>
      <h2>23 DECEMBER 2017</h2>
      <%= link_to "LEAVE A MESSAGE", new_message_path, class: "btn btn-default" %>
      <a href="https://www.instagram.com/explore/tags/alovesoshir/" class="btn btn-default">INSTAGRAM</a>
      <%= link_to "GALLERY", photos_path, class: "btn btn-default" %>
    </div>
  </div>
  <!-- Mobile: Cover -->
  <div class="cover hidden-sm hidden-md hidden-lg" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'jap-portrait-1.jpg' %>)">
  </div>
  <div class="mobile content bottom hidden-sm hidden-md hidden-lg">
    <div class="text">
      <h1>SHIRLEY & ALAN</h1>
      <h2>23 DECEMBER 2017</h2>
      <a href="mailto:alovesoshir@gmail.com" class="btn btn-default">RSVP</a>
      <%= link_to "LEAVE A MESSAGE", new_message_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
