<div class="cards">
  <% if @photos.empty? %>
    <div class="cover" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(<%= image_path 'empty.jpg' %>">
    </div>
    <div class="content bottom hidden-xs">
      <div class="text">
        <h1><i class="fa fa-heart" aria-hidden="true"></i></h1>
      </div>
    </div>
  <% else %>
    <% @photos.each do |photo| %>
      <div class="col-xs-12 col-sm-3 col-lg-3">
        <div class="card" data-photo-id="<%= photo.id %>" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(<%= cl_image_path photo.photo %>">
          <div class="card-body">
            <%= link_to "", photo_path(photo), class: "card-link" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<div class="hidden-links hidden">
  <ul class="list-inline">
    <%= link_to new_photo_path do %>
      <li><i class="fa fa-plus" aria-hidden="true" id="add"></i></li>
    <% end %>
  </ul>
</div>

<%= content_for(:title, "alovesoshir | All Photos") %>

<%= content_for(:after_js) do %>
  <script>
    document.addEventListener("keyup",function(e){
      var key = e.which || e.keyCode;
      switch(key){
        case 65: // "A"
          document.getElementById("add").click();
        break;
      }
    });
    // var modal = document.getElementById('myModal'); // gets modal

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    // var img = document.querySelector("[data-photo-id='<%= @photo.id %>']");
    // var modalImg = document.getElementById("img01");
    // var captionText = document.getElementById("caption");
    // img.onclick = function() {
    //   modal.style.display = "block";
    //   modalImg.src = this.src;
    //   captionText.innerHTML = this.alt;
    // }

    // // Get the <span> element that closes the modal
    // var span = document.getElementsByClassName("close")[0];

    // // When the user clicks on <span> (x), close the modal
    // span.onclick = function() {
    //     modal.style.display = "none";
    // }

  </script>
<% end %>
