<div class="cards">
  <% if @photos.empty? %>
    <h1>No photos yet!</h1>
  <% else %>
    <% @photos.each do |photo| %>
      <div class="col-xs-12 col-sm-3 col-lg-3">
        <div class="card" data-photo-id="<%= photo.id %>" style="background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(<%= cl_image_path photo.photo %>">
          <div class="card-body">
            <%= link_to "", photo_path(photo), class: "card-link" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="hidden-links hidden">
  <ul class="list-inline">
    <%= link_to new_photo_path do %>
      <li><i class="fa fa-plus" aria-hidden="true" id="add"></i></li>
    <% end %>
  </ul>
</div>

<%= content_for(:title, "alovesoshir | All Photos") %>

<%= content_for(:after_js) do %>
  <script>
    document.addEventListener("keyup",function(e){
      var key = e.which || e.keyCode;
      switch(key){
        case 65: // "A"
          document.getElementById("add").click();
        break;
      }
    });
  </script>
<% end %>
